/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

//$navy: #5AB334;
$nav-profil-pattern: url("../../../../assets/images/patterns/header-profile.png") no-repeat;
//$navbar-inverse-link-color: #5AADBB;

.demo1 {
	background-color: $navy;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
.table {
  .cxc {
    font-size: 5px;
  }
}
.cxc-view {
  font-size: 10px;
}
.total {
  font-weight: bold;
  font-style: italic;
}
@media screen {
  .print {
    display: none;
  }
}
@media print {
  nav, .footer, .page-heading, .ibox-title, .noprint {
    display: none;
  }
  
}