/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

$navy: #5AB334;
$nav-profil-pattern: url("../../../../assets/images/patterns/header-profile.png") no-repeat;

.demo1 {
	background-color: $navy;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}